html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Coming Soon', cursive;
  background: rgb(153, 172, 181);
}

a {
  text-decoration: none;
}

.main-header {
  flex: 0 1 auto; /* do not grow, shrink as needed, auto calculate */
}

.logo-text {
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.thumbnail-item + .thumbnail-item {
  margin-top: 20px;
}

.thumbnail-list {
  flex: 0 1 auto;
  list-style: none;
  padding: 0; /* overrides default ul padding value which indents the li items */
  white-space: nowrap; /* prevents the thumbnails from wrapping to the next line */
  overflow-x: auto; /* adds a scroll bar if thumbnails extends container */
}


.thumbnail-title {
  display: block;
  margin: 0;
  padding: 5px 10px;

  background: #47ACB5;
  color: white;

  font-size: 18px;

  white-space: nowrap; /* prevents long text from extending beyond div */
  overflow: hidden;
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-item {
  display: inline-block; /* puts the thumbnails on the same line */
  width: 120px;
  border: 2px solid rgb(100%, 100%, 100%); /* fallback value in case browser doesn't accept alpha */
  border: 2px solid rgba(100%, 100%, 100%, 0.3);
}


.detail-image-container {
  flex: 1 1 auto;
}

.detail-image{
  width: 90%;
}
